*.dcu
*.o
*.ppu
*.rst
*.~*
.*.swp
Package.fpc
debuglog.txt
openxp
openxp-?.res
rc
*.BFG
*.BL
*.PP
*.RC
*.EPP
*.IX1
*.DB1
*.EB1
*.XPS
*.DAT
OPENXP.RSP
XPOINT.CFG
XPOINT2.CFG
openxp.cfg
openxp.dof
*.exe
*.EXE
